includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    ignoreErrors:
        - '#PHPDoc tag @var#'
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/storage
        - %currentWorkingDirectory%/bootstrap/cache
